@font-face {
  font-family: "CursedTimer";
  src: url("CursedTimerUlil-Aznm.ttf") format("truetype");
}

body {
  display: flex;
  margin: 0;
  background-color: #0c4a6e;
  align-content:center;
  justify-content: center;
  color:#fff;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content:center;
}

.score-box {
  background-color: #000;
  width: 10rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-div {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.team {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.btn {
  border-radius: 5px;
  border-width: 2px;
  background-color: #0c4a6e;
  font-family: CursedTimer;
  font-size: 1.125rem;
  padding: 0.5rem;
  padding-top: 0.6rem;
  margin-top: 1rem;
  cursor: pointer;
}

#new-game-btn {
  border-radius: 5px;
  border-width: 2px;
  background-color: #0c4a6e;
  font-family: CursedTimer;
  font-size: 1.125rem;
  width: 20rem;
}

#new-game-box {
  display: block;
  justify-self: center;
  margin-top: 2rem;
}

.score {
  font-family: CursedTimer;
  display: block;
  margin: auto;
  font-weight: 400;
  font-size: 5.625rem;
  padding-top: 0.5rem;
  color: white;
}

.break {
  flex-basis: 100%;
  height: 0;
}
